services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/certs:/etc/nginx/certs
    networks:
      - my_network
    depends_on:
      - frontend
      - backend
    ports:
      - "443:443"

  frontend:
    container_name: frontend
    build:
      context: ./frontend
      target: ${TARGET:-dev}
    restart: always
    env_file:
      - .env
    environment:
      - ENV=${TARGET:-dev}
    volumes:
      - ./frontend/app:/app/app
    networks:
      - my_network
    depends_on:
      - backend
    ports:
      - "3000:3000"

  backend:
    container_name: backend
    build: ./backend
    restart: always
    env_file:
      - .env
    environment:
      - ENV=${TARGET:-dev}
    volumes:
      - ./backend/app:/backend/app
    networks:
      - my_network
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    container_name: db
    image: postgres:17.6
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - my_network
    ports:
      - "5432:5432"

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    volumes:
      - ollama:/root/.ollama
    networks:
      - my_network
    ports:
      - "11434:11434"

volumes:
  postgres_data:
  ollama:

networks:
  my_network:
    driver: bridge